<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2pE7XYP5QZiKBIb_GV-sCkSLgXX17XpY</string>
	<key>GCM_SENDER_ID</key>
	<string>314474558817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fastcampus.dary.WhatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-8737d</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-8737d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314474558817:ios:8cafbd012d8e723f778120</string>
</dict>
</plist>